html::-webkit-scrollbar { width: 0 ! important }
nav{
  background-color: #CC0000!important;
}
.accordion--content_expanded {
  overflow-y:scroll!important;
}
#firstRow {
    margin: 0;
}
#headerLyrics{
    color: white;
    padding: 35px;
}

#searchBlock{
    margin-top: 35px;
}
